---
- name: create environment variable files and populate variables
  hosts: droplet
  become: yes
  tasks:

    - name: Ensure project directory exists
      file:
        path: /root/guitar-tabs-app
        state: directory
        mode: '0755'
      
    - name: Create .env.db file for database credentials
      copy:
        dest: /root/guitar-tabs-app/.env.db
        content: |
          POSTGRES_DB={{ database_name }}
          POSTGRES_USER={{ database_user }}
          POSTGRES_PASSWORD={{ database_password }}
          POSTGRES_HOST={{ database_host }}

    - name: Create .env.tabs-api file for tabs-api environment variables
      copy:
        dest: /root/guitar-tabs-app/.env.tabs-api
        content: |
          APP_ENV=PRODUCTION
          DATABASE_NAME={{ database_name }}
          DATABASE_USER={{ database_user }}
          DATABASE_PASSWORD={{ database_password }}
          DATABASE_HOST={{ database_host }}
          DIGITAL_OCEAN_BUCKET_SECRET_KEY={{ digital_ocean_bucket_secret_key }}
          DIGITAL_OCEAN_BUCKET_ACCESS_KEY_ID={{ digital_ocean_bucket_access_key_id }}
          DIGITAL_OCEAN_BUCKET_NAME={{ digital_ocean_bucket_name }}
          DIGITAL_OCEAN_BUCKET_REGION_NAME={{ digital_ocean_bucket_region_name }}
          ACCESS_SECRET_KEY={{ access_secret_key }}
          REFRESH_SECRET_KEY={{ refresh_secret_key }}
          SESSION_SECRET_KEY={{ session_secret_key }}
          GOOGLE_CLIENT_SECRET={{ google_client_secret }}
          GOOGLE_CLIENT_ID={{ google_client_id }}
